section {
    background-color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  
    pre {
      overflow-x: auto; 
      white-space: pre-wrap; 
      font-size: 14px; 
      color: #fff; 
    }
  }